@{
    ViewBag.Title = "Access denied";
}

<h1 class="text-danger text-center mt-4">Access Denied</h1>
<h6 class="text-danger text-center">You do not have permission to view this resource</h6>
<img class="img-fluid d-block mx-auto" src="~/images/NoAccess.png" style="height: 300px; width: 300px;"/>