@{
    ViewBag.Title = "Library Management System";
}

<h1 class="my-4 text-center">@ViewBag.Title</h1>

<div class="row">
    <div class="col-sm-6 col-md-4 mt-4">
        <figure>
            <a asp-controller="Catalog" asp-action="Index"><img class="img-fluid border rounded" src="images/old-books.jpg" asp-append-version="true" alt="Books"></a>
            <figcaption class="text-center">Library Catalog</figcaption>
        </figure>

        <div class="text-center">
            <a asp-controller="Catalog" asp-action="Index">View Catalog</a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mt-4">

        <figure>
            <a asp-controller="Branch" asp-action="Index"><img class="img-fluid border rounded" src="images/bldg.jpg" asp-append-version="true" alt="Branches"></a>
            <figcaption class="text-center">Branches</figcaption>
        </figure>

        <div class="text-center">
            <a asp-controller="Branch" asp-action="Index">View Branch Index</a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mt-4">

        <figure>
            <a asp-controller="Patron" asp-action="Index"><img class="img-fluid border rounded" src="images/patrons.jpg" asp-append-version="true" alt="Patrons"></a>
            <figcaption class="text-center">Patrons</figcaption>
        </figure>

        <div class="text-center">
            <a asp-controller="Patron" asp-action="Index">View Patron Index</a>
        </div>

    </div>
</div>