@{
    ViewBag.Title = "Not Found";
}

<h1 class="text-center my-4">@ViewBag.ErrorMessage</h1>

<div class="text-center">
    <a asp-action="index" asp-controller="home">
        Click here to navigate to the home page
    </a>
</div>