@model string

@{
    ViewBag.Title = "404 Error";
}


@if (String.IsNullOrEmpty(Model))
{
    <div class="alert alert-danger text-center my-4">
        <h3>
            There is no Id of the item in the address bar.
            <br />
            Please, try again.
        </h3>
    </div>
}
else
{
    <div class="alert alert-danger text-center mt-4 mb-4">
        <h4>404 Not Found Error :</h4>
        <hr />
        <h5>
            Asset with ID = @Model cannot be found
        </h5>
    </div>
}


<div class="text-center">
    <a asp-controller="Catalog" asp-action="Index" class="btn btn-outline-success"
       style="width:auto">Click here to see the list of all assets</a>
</div>