@model Library.Models.Catalog.AssetCreateVideoViewModel
@using LibraryData
@inject ILibraryBranch  branch

@{
    ViewBag.Title = "Create new video";
}

@section TopHeaders
{
    <h2 class="text-center mt-4">@ViewBag.Title</h2>
    <hr class="whiteLine" />
}


<form enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center mt-4">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="Director"></label>
            <input asp-for="Director" class="form-control" />
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="Cost"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="Photo"></label>
            <div class="custom-file">
                <input asp-for="Photo" class="custom-file-input" />
                <label class="custom-file-label">Choose file...</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="NumberOfCopies"></label>
            <input asp-for="NumberOfCopies" class="form-control" />
            <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 mx-auto text-center">
            <label asp-for="LibraryBranchName"></label>
            <select asp-for="LibraryBranchName" class="form-control">
                <option value="">Please Select</option>
                @foreach (var branchName in branch.GetAll())
                {
                    <option value="@branchName.Name">@branchName.Name</option>
                }
            </select>
            <span asp-validation-for="LibraryBranchName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>