@{
    ViewBag.Title = "Account locked";
 }

<h4 class="text-center mt-4">
    Your account is locked. Please try again after some time or you may
    <a asp-controller="Account" asp-action="ForgotPassword">
        reset your password by clicking here.
    </a>
</h4>