@model Library.Models.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}

@section TopHeaders
{
    <h2 class="text-center mt-4">@ViewBag.Title</h2>
    <hr class="whiteLine"/>
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger text-center"></div>

    <div class="form-group row">
        <div class="col-sm-6 mx-auto text-center mt-4">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mx-auto text-center">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mx-auto text-center">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto text-center">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
        </div>
    </div>
</form>